<div id="title" class="ui message">
  <i class="ui icon table big"></i>
  <div>
    <h2>Projets</h2>
    <h3>Administration de données</h3>
  </div>
</div>

{{#link-to "projects.new" class="ui button orange"}}
  Ajouter un projet...
{{/link-to}}

<table class="ui sixteen wide inverted table">
  <thead>
    <tr>
      <th class="three wide">Nom</th>
      <th class="five wide">Descriptif</th>
      <th class="two wide">DateDébut</th>
      <th class="two wide">DateFin</th>
      <th class="two wide">Proprietaire</th>
      <th class="two wide">Actions</th>
    </tr>
  </thead>

  <tbody>
  {{#each model as |pro|}}
    <tr>
      <td>
        {{pro.startDate}}
      </td>
      <td>
        {{pro.dueDate}}
      </td>
      <td>
        {{pro.owner.identity}}
      </td>
      <td>
        {{#link-to "projects.edit" pro class="ui green circular icon button"}}
          <i class="ui icon edit"></i>
        {{/link-to}}

        {{#link-to "projects.delete" pro class="ui icon circular button red"}}
          <i class="ui icon delete"></i>
        {{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

<table class="ui sixteen wide inverted table">
  {{#each model as |pro|}}
    <tr>
      <td class="one wide">
        <i class="ui big white file icon"></i>
      </td>
      <td class="ten wide">
        <div style="font-weight:bold">{{pro.name}}</div>
        {{pro.description}}
      </td>
      <td class="five wide" style="text-align:right">
        <div class="ui left labeled button" tabindex="0">
          <a class="ui basic right pointing label">
            {{pro.owner.identity}}
          </a>
          {{#link-to "projects.edit" pro class="ui green button"}}
            Modifier...
          {{/link-to}}
        </div>
      </td>
    </tr>
  {{/each}}
</table>

{{outlet}}
